<p>
  Users List:
</p>
<user-form (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimiaticAdd()" ></user-form>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of usersKeys">
    {{'user number ' + key + ' ' + users[key].name}}
    <button (click) = "deleteUser(key)" class = "btn btn-danger">Delete</button>
  </li>
</ul>

