<form [formGroup] = "usrform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name = "name" id = "name" formControlName = "name" class = "form-control">
  </div>
  <div>
    <label for="phonenumber"></label>
    <input type="text" name = "phonenumber" id = "phonenumber" formControlName = "phonenumber" class = "form-control">
  </div>
  <input type="submit" value = "Send user" class = "btn btn-primary">
</form>